<nav class="navbar navbar-custom">
    <div class="nav-wrapper" id="bs-example-navbar-collapse-1">
        <a href="" class="brand-logo right"><img style="height:40px;width:40px;" src="app/images/mypic.jpg" class="circle responsive-img" /></a>
    </div>
</nav>
<div class="google-type-header row">
    <div class="col offset-m4 m4 s12">
        <h1><span class="j-text">J</span><span class="o-text">o</span><span class="s-text">s</span><span class="j-text">h</span><span class="h-text">u</span><span class="o-text">a</span></h1>
    </div>
    <div class="col offset-m4 m4 s2">
        <h5>Front-End Software Developer</h5>
    </div>
</div>
<div class="google-type-input row">
    <div class="col m6 offset-m3 s10 offset-s1">
        <input class="form-control" id='demo_input' autofocus/>
    </div>
</div>